*{
    text-align: center;
    margin: auto;
    margin-top: 2%;
}
p{
    border-radius: 25px;
    width: 400px;
    height: 45px;
    box-shadow: 3px 3px 3px 3px;
    margin-top: 5%;
    background-color: antiquewhite;
}
p:hover{
    background-color: black;
    color: white;
}
body{
    background: linear-gradient(30deg, orange, red, blue, green);
    background-size: cover;
    animation: color 7s linear infinite;
}



@keyframes color {
    0%{
        background-position: 0% ;
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }
}