<%- include('header.ejs') %>
<section class="musicas">
    <div class="seletor-musica">
        <button class="botao-seletor" id="musica-anterior" onclick="anteriorDiscoClick()"></button>
        <div class="toca-disco">
            <div class="toca-disco-base"></div>
            <img class="toca-disco-braco" src="assets/img/toca-disco-braco.png">
        </div>
        <div class="fileira-de-discos">
            <img class="disco" src="assets/img/disco.png" data-status = "ativo" data-index = "0">
            <img class="disco" src="assets/img/disco.png" data-status = "proximo" data-index = "1">
            <img class="disco" src="assets/img/disco.png" data-status = "inativo" data-index = "2">
            <img class="disco" src="assets/img/disco.png" data-status = "inativo" data-index = "3">
            <img class="disco" src="assets/img/disco.png" data-status = "inativo" data-index = "4">
            <img class="disco" src="assets/img/disco.png" data-status = "inativo" data-index = "5">
            <img class="disco" src="assets/img/disco.png" data-status = "inativo" data-index = "6">
            <img class="disco" src="assets/img/disco.png" data-status = "anterior" data-index = "7">
        </div>
        
        <button class="botao-seletor" id="musica-sucessor"  onclick="proximoDiscoClick()"></button>
    </div>
    <div class="musica-informacoes">
        <h2><% if (musicaNome) {%> <%=musicaNome%> <%} else {%> Nome da Musica <% } %></h2>
        <p><% if (musicaNome) {%> <%=musicaNome%> <%} else {%> Autor <% } %></p>
        <div class="musica-informacoes__botoes">
            <button id="favoritar"><i class="fa-regular fa-heart"></i></button>
            <button id="jogar">Jogar</button>
            <button id="musica-placar"><i class="fa-solid fa-trophy"></i></button>
        </div>
    </div>

</section>
<script src="js/selecionarMusicas.js"></script>
</body>
</html>